@import "tailwindcss";

@theme {
  --text-section-title: 2rem;
  --text-section-title--line-height: 1.5rem; 
  --text-section-title--letter-spacing: 0rem; 
  --text-section-title--font-weight: 500; 
   --font-display: "Electrolize", sans-serif;
   --font-display--weight: 400;
} 